bin/ponyC
ponyC.xcodeproj
cmake_install.cmake
cpp/CMakeFiles/*
cpp/src/CMakeFiles/*
cpp/CMakeCache.txt
cpp/CMakeScripts/*
cpp/src/Makefile
cpp/src/CMakeScripts/*
cpp/Makefile
bin/
ponyC.build/

.DS_Store
**/.DS_Store
